{% extends "views/base.html" %}
{% block title %} {{super()}} - Register {% endblock %}
{% block extra_css %}
<style>
        body{
            background: #f8f9fa;
        }
        .row > div{
            background: #FFF;
        }


</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 border m-5 p-3 mx-auto box-shadow rounded">
            <h2 class="border-bottom p-2 mb-4 text">Sign up</h2>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <ul class="list-unstyled">
                    {%- for msg in errors %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endwith %}
            <form method="post" class="m-4">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="form-row">
                    <div class="form-group col-md-12 p-2">
                        <label><span class="fa fa-envelope"></span>&nbsp;&nbsp;Email</label>
                        {{form.email(class="form-control")}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 p-2">
                        <label><span class="fa fa-lock"></span>&nbsp;&nbsp;Password</label>
                        {{form.password(class="form-control")}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 p-2">
                        <label><span class="fa fa-lock"></span>&nbsp;&nbsp;Confirm Password</label>
                        {{form.confirm_password(class="form-control")}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><span class="fa fa-sign-in"></span> Sign up</button>
            </form>
            <p class="text text-center m-3 border-top p-3">Already have an account? <a
                    href="{{url_for('views.login')}}">Login.</a></p>
        </div>
    </div>
</div>
{% endblock %}